@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KA i Alge Dage?</h1>
    <p>Dette er nettsiden Ka I ALGE DAGE....</a>.</p>
    <p>Kan dette være en ny start som funker???????</p>
    <p>Test 2</p>
</div>
