html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("kaialgedage.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.pb-3{
  margin-top: 10%;
}

h1{
  color: aquamarine;
  font-size: larger;
  font-weight: bold;
}

h2{
  color: aquamarine;
  font-size:large;
  font-weight: bold;
}

p{
  color: beige;
  font-size:medium;
  font-weight: bold;
}

li{
  color: beige;
  font-size:medium;
  font-weight: bold;
}

form{
  color: beige;
  font-size:medium;
  font-weight: bold;
}

