html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("kaialgedage.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

footer{
  position:absolute;
  margin-bottom: 5%;
}

.pb-3{
  margin-top: 20%;
}

h1{
  color: aquamarine;
  font-size: larger;
}